@charset "Utf-8";

*{
    margin: 0;
    padding: 0;

}


body{
    margin: 20px auto;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(83, 83, 83, 0.272);
    border-radius: 20px;
    max-width: 900px;
    background-color: #f4f4f4;
}

a{
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
    color: rgb(39, 39, 173);

}

header{
    padding-bottom: 20px;
    text-align: center;

}

section{
    padding: 20px;

}

section > p, section > ul{
    padding-top: 10px;

}

section > ul > li{
    padding-bottom: 2px;
    list-style-type: none;
}



section > h2:not(section.sobre_mim > h2){
    border: 1px solid rgba(96, 95, 95, 0.131);
    box-shadow: 1px 2px 4px rgba(83, 83, 83, 0.272);
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0px -20px;
    


}

section.sobre_mim{
    background-color: rgba(0, 0, 0, 0.281);
    border: 1px solid rgba(96, 95, 95, 0.131);
    box-shadow: 1px 2px 4px rgba(83, 83, 83, 0.272);
    border-radius: 20px;

}


section > ul > li::before{
    content: "\1433";
    margin-right: 5px;
    margin-left: 0px;
}

.fa-whatsapp{
    color: rgb(37, 211, 102);
}


footer{
    text-align: center;
    padding-top: 10px;
}